## Reading delimited text files

### Useful functions

The pandas.read_table function allows you to read any delimited text file. It has some inputs that will be useful to reading our data files. 

Look at the documentation for the function (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_table.html ) and write a short description of what each of the inputs do below.

pandas.read_table(**filepath**, **sep**, **header**, **skiprows**, **skipfooter**)

* **filepath**: 

* **sep**: 

* **header**: 

* **skiprows**:

* **skipfooter**:

In [1]:
import pandas as pd

This is a .txt file of our class schedule for the last week.

In [2]:
pd.read_table('schedule.txt')

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

                                          |||
0                            | Date | Topic |
1     |February 27, 2020 (Thursday)|Monsoons|
2    |March 3, 2020 (Tuesday)|Pandas review|
3  |March 5, 2020 (Thursday)|Coral core data|
4                                         |||

Doesn't look great! 

Firstly, it's not reading in the right names of the columns. To do so, we have to tell pandas what row to read in. In our case, that's the second row or in Python, row 1.

In [3]:
pd.read_table('schedule.txt', header = 1)

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

                             | Date | Topic |
0     |February 27, 2020 (Thursday)|Monsoons|
1    |March 3, 2020 (Tuesday)|Pandas review|
2  |March 5, 2020 (Thursday)|Coral core data|
3                                         |||

You can also do this by skipping the unnecessary rows. We need to skip 1 row. Pandas identifies the header automically.

In [4]:
pd.read_table('schedule.txt', skiprows = 1)

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

                             | Date | Topic |
0     |February 27, 2020 (Thursday)|Monsoons|
1    |March 3, 2020 (Tuesday)|Pandas review|
2  |March 5, 2020 (Thursday)|Coral core data|
3                                         |||

What is the delimiter in this case? Edit the function below to appropriately separate the data. 

*Hint: what should "sep" be?*

In [5]:
pd.read_table('schedule.txt', header = 1, sep = "|")

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   Unnamed: 0                         Date            Topic  Unnamed: 3
0         NaN  February 27, 2020 (Thursday)         Monsoons        NaN
1         NaN       March 3, 2020 (Tuesday)    Pandas review
2         NaN      March 5, 2020 (Thursday)  Coral core data        NaN
3         NaN                           NaN              NaN        NaN

There is also an empty row at the end. Edit the function to skip the final row.

*Hint: what should "skipfooter" be?*

In [7]:
pd.read_table('schedule.txt', header = 1, sep = "|", skipfooter = 1)

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   Unnamed: 0                         Date            Topic  Unnamed: 3
0         NaN  February 27, 2020 (Thursday)         Monsoons        NaN
1         NaN       March 3, 2020 (Tuesday)    Pandas review
2         NaN      March 5, 2020 (Thursday)  Coral core data        NaN

## Deleting rows or columns

Sometimes pandas.read_table() identifies extra columns and rows that we need to delete after reading in the data. 

### Useful functions

pandas_dataframe.drop(**labels**,**axis**)
* **labels**: "column name" or if you have multiple ["col_name1", "col_name2", "col_name3"]
* **axis**: axis = 0 for rows, axis = 1 for columns

For example: 

``df.drop(labels = ['Date','Topic'], axis = 1)``

Edit the function with all the changes you've made so far and drop any unnecessary columns.

In [8]:
df = pd.read_table('schedule.txt', header = 1, sep = "|", skipfooter = 1)

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [11]:
df.head()

   Unnamed: 0                         Date            Topic  Unnamed: 3
0         NaN  February 27, 2020 (Thursday)         Monsoons        NaN
1         NaN       March 3, 2020 (Tuesday)    Pandas review
2         NaN      March 5, 2020 (Thursday)  Coral core data        NaN

In [15]:
df.drop(labels = ['Unnamed: 0','Unnamed: 3'], axis = 1)

                          Date            Topic
0  February 27, 2020 (Thursday)         Monsoons
1       March 3, 2020 (Tuesday)    Pandas review
2      March 5, 2020 (Thursday)  Coral core data