## Reading delimited text files

### Useful functions

The pandas.read_table function allows you to read any delimited text file. It has some inputs that will be useful to reading our data files. 

Look at the documentation for the function (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_table.html ) and write a short description of what each of the inputs do below.

pandas.read_table(**filepath**, **sep**, **header**, **skiprows**, **skipfooter**)

* **filepath**: 

* **sep**: 

* **header**: 

* **skiprows**:

* **skipfooter**:

In [ ]:
import pandas as pd

This is a .txt file of our class schedule for the last week.

In [2]:
pd.read_table('schedule.txt')

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

                                          |||
0                            | Date | Topic |
1     |February 27, 2020 (Thursday)|Monsoons|
2    |March 3, 2020 (Tuesday)|Pandas review|
3  |March 5, 2020 (Thursday)|Coral core data|
4                                         |||

Doesn't look great! 

Firstly, it's not reading in the right names of the columns. To do so, we have to tell pandas what row to read in. In our case, that's the second row or in Python, row 1.

In [3]:
pd.read_table('schedule.txt', header = 1)

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

                             | Date | Topic |
0     |February 27, 2020 (Thursday)|Monsoons|
1    |March 3, 2020 (Tuesday)|Pandas review|
2  |March 5, 2020 (Thursday)|Coral core data|
3                                         |||

You can also do this by skipping the unnecessary rows. We need to skip 1 row. Pandas identifies the header automically.

In [4]:
pd.read_table('schedule.txt', skiprows = 1)

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

                             | Date | Topic |
0     |February 27, 2020 (Thursday)|Monsoons|
1    |March 3, 2020 (Tuesday)|Pandas review|
2  |March 5, 2020 (Thursday)|Coral core data|
3                                         |||

What is the delimiter in this case? Edit the function below to appropriately separate the data. 

*Hint: what should "sep" be?*

In [5]:
pd.read_table('schedule.txt', header = 1, sep = "|")

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   Unnamed: 0                         Date            Topic  Unnamed: 3
0         NaN  February 27, 2020 (Thursday)         Monsoons        NaN
1         NaN       March 3, 2020 (Tuesday)    Pandas review
2         NaN      March 5, 2020 (Thursday)  Coral core data        NaN
3         NaN                           NaN              NaN        NaN

There is also an empty row at the end. Edit the function to skip the final row.

*Hint: what should "skipfooter" be?*

In [6]:
pd.read_table('schedule.txt', header = 1, sep = "|", skipfooter = 1)

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   Unnamed: 0                         Date            Topic  Unnamed: 3
0         NaN  February 27, 2020 (Thursday)         Monsoons        NaN
1         NaN       March 3, 2020 (Tuesday)    Pandas review
2         NaN      March 5, 2020 (Thursday)  Coral core data        NaN

## Deleting rows or columns

Sometimes pandas.read_table() identifies extra columns and rows that we need to delete after reading in the data. 

### Useful functions

pandas_dataframe.drop(**labels**,**axis**)
* **labels**: "column name" or if you have multiple ["col_name1", "col_name2", "col_name3"]
* **axis**: axis = 0 for rows, axis = 1 for columns

For example: 

``df.drop(labels = ['Date','Topic'], axis = 1)``

Edit the function with all the changes you've made so far and drop any unnecessary columns.

In [7]:
df = pd.read_table('schedule.txt', header = 1, sep = "|", skipfooter = 1)

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [8]:
df.head()

   Unnamed: 0                         Date            Topic  Unnamed: 3
0         NaN  February 27, 2020 (Thursday)         Monsoons        NaN
1         NaN       March 3, 2020 (Tuesday)    Pandas review
2         NaN      March 5, 2020 (Thursday)  Coral core data        NaN

In [9]:
df.drop(labels = ['Unnamed: 0','Unnamed: 3'], axis = 1)

                          Date            Topic
0  February 27, 2020 (Thursday)         Monsoons
1       March 3, 2020 (Tuesday)    Pandas review
2      March 5, 2020 (Thursday)  Coral core data

## Reading in our Vietnam Data

In [10]:
import os

In [20]:
DataPath = '/Users/brownscholar/Dropbox/BridgeUP_ClimateCoders/Data'
os.chdir(DataPath)
df = pd.read_csv('hon-tre2014.txt', skiprows = 108 ,sep = '\t')

In [21]:
df.head()

,age_AD,month,depth_mmBB,Sr/Ca-porBB,d18OporBB,depth_mmTN,Sr/Ca-porTN,d18OporTN
0,2010,Nov,0.3,9.064,-6.447,NaN,NaN,NaN
1,2010,Oct,0.6,9.002,-6.430,NaN,NaN,NaN
2,2010,Sep,0.9,8.978,-6.059,NaN,NaN,NaN
3,2010,Aug,1.2,8.971,-5.981,NaN,NaN,NaN
4,2010,Jul,1.4,8.974,-6.099,NaN,NaN,NaN

In [22]:
df.drop(labels = ['depth_mmBB', 'd18OporBB', 'depth_mmTN', 'd18OporTN'], axis = 1 )

     age_AD month  Sr/Ca-porBB  Sr/Ca-porTN
0      2010   Nov        9.064          NaN
1      2010   Oct        9.002          NaN
2      2010   Sep        8.978          NaN
3      2010   Aug        8.971          NaN
4      2010   Jul        8.974          NaN
5      2010   Jun        8.969          NaN
6      2010   May        8.966          NaN
7      2010   Apr        9.030          NaN
8      2010   Mar        9.123          NaN
9      2010   Feb        9.203          NaN
10     2010   Jan        9.210          NaN
11     2009   Dec        9.218          NaN
12     2009   Nov        9.148          NaN
13     2009   Oct        8.992          NaN
14     2009   Sep        8.923          NaN
15     2009   Aug        8.932          NaN
16     2009   Jul        8.953          NaN
17     2009   Jun        8.957          NaN
18     2009   May        9.013          NaN
19     2009   Apr        9.005          NaN
20     2009   Mar        9.080          NaN
21     2009   Feb        9.141          NaN
22     2009   Jan        9.307          NaN
23     2008   Dec        9.210          NaN
24     2008   Nov        9.080          NaN
25     2008   Oct        8.988          NaN
26     2008   Sep        8.945          NaN
27     2008   Aug        9.131          NaN
28     2008   Jul        9.182          NaN
29     2008   Jun        9.125          NaN
..      ...   ...          ...          ...
377    1979   Jun        8.934       9.0090
378    1979   May        8.916       8.9463
379    1979   Apr        8.994       8.9699
380    1979   Mar        9.101       9.1073
381    1979   Feb        9.162       9.1816
382    1979   Jan        9.200       9.2281
383    1978   Dec        9.248       9.2006
384    1978   Nov        9.186       9.1298
385    1978   Oct        9.162       9.0634
386    1978   Sep        9.080       9.1331
387    1978   Aug        9.074       9.0128
388    1978   Jul        9.013       9.0304
389    1978   Jun        8.993       8.9945
390    1978   May        8.981       8.9172
391    1978   Apr        9.058       9.0114
392    1978   Mar        9.179       9.1406
393    1978   Feb        9.271       9.2342
394    1978   Jan        9.240       9.1617
395    1977   Dec        9.222       9.1520
396    1977   Nov        9.136       9.0861
397    1977   Oct        9.122       9.0168
398    1977   Sep        9.145       9.0137
399    1977   Aug        9.089       9.0389
400    1977   Jul        9.151       9.0173
401    1977   Jun        9.043       8.9111
402    1977   May        9.168       8.9350
403    1977   Apr          NaN       9.0485
404    1977   Mar          NaN       9.2029
405    1977   Feb          NaN       9.2148
406    1977   Jan          NaN       9.1948

[407 rows x 4 columns]